

@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 400;
    src: local("LXGW WenKai Regular"),local("LXGWWenKai-Regular"),url(./lxgw-wenkai-lite-v1.250/LXGWWenKaiLite-Regular.ttf);
    font-display: swap
}

@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 400;
    src: local("LXGW WenKai Bold"),local("LXGWWenKai-Bold"),url(./lxgw-wenkai-lite-v1.250/LXGWWenKaiLite-Bold.ttf);
    font-display: swap
}

@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 400;
    src: local("LXGW WenKai Light"),local("LXGWWenKai-Light"),url(./lxgw-wenkai-lite-v1.250/LXGWWenKaiLite-Light.ttf);
    font-display: swap
}


@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 400;
    src: local("LXGW WenKai Mono Regular"),local("LXGWWenKaiMono-Regular"),url(./lxgw-wenkai-lite-v1.250/LXGWWenKaiMonoLite-Regular.ttf);
    font-display: swap
}

@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 400;
    src: local("LXGW WenKai Mono Bold"),local("LXGWWenKaiMono-Bold.ttf"),url(./lxgw-wenkai-lite-v1.250/LXGWWenKaiMonoLite-Bold.ttf);
    font-display: swap
}

@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 400;
    src: local("LXGW WenKai Mono Light"),local("LXGWWenKaiMono-Light"),url(./lxgw-wenkai-lite-v1.250/LXGWWenKaiMonoLite-Light.ttf);
    font-display: swap
}

